.todo__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.todo__alert--danger {
    padding: 10px 30px;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.todo__alert--danger ul{
    margin: 0;
}

.todo_container {/*めっちゃ親要素*/
    margin: 0 auto;
    padding: 30px 15px;/*スマホなどの小さい画面で見る際に余白を作る、レスポンシブデザインのため*/
    max-width: 1230px;
}

.section__title {
    margin: 0 auto;
    width: 70%;
}

.section__title h2 {
    font-size: 24px;
    font-weight: bold;
}

.create_form, .search-form {/*親要素*/
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 70%;
    text-align: center;

}

.create_form__item, .search-form__item {
    display: flex;/*子要素*/
    width: 70%;
}   

.create_form__item-input, .search-form__item-input {/*
    margin-right: 10px;孫要素*/
    width: 70%;
    padding: 10px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.create-form__item-select, .search-form__item-select {
    padding: 10px;
    width: 30%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;/*appearanceはブラウザのデフォルトのスタイルを解除する*/
}

.create_form__button, .search-form__button {/*孫要素*/
    width: 20%;
}

.create_form__button-submit, .search-form__button-submit{/*孫要素*/
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    background: #000;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    }

.todo-table {/*親要素*/
    margin: 30px auto;
    width: 70%;
    text-align: left;
}

.todo-table__inner {/*子要素*/
    width: 100%;
}

.todo-table__row {/*孫要素*/
    border-bottom: 1px solid #ccc;
}

.todo-table__header {/*孫要素*/
    padding: 12px;
    width: 20%;
    text-align: left;
    font-weight: bold;
}

.todo-table__header-span {
    margin-right: 40px;
}

.todo-table__item:first-of-type {/*孫要素*/
    padding: 12px;
    width: 90%;
}

.update-form{/*親要素*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update-form__item {/*子要素*/
    width: 40%;
    line-height: 50%;
}

.update-form__item-input {/*子要素*/
    width: 100%;
    outline: none; /* フォーカス時の枠線を削除 */
    border: none;
}

.update-form__item-p {
    text-align: left;
    font-size: 13px;
}


.update-form__button{/*子要素*/         
    width:50px;
}

.update-form__button-submit{/*子要素*/
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #0000ff;
    color: #fff;
    cursor: pointer;
}

.delete-form__button{/*子要素*/
    width:50px;
}

.delete-form__button-submit{/*子要素*/                          
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #ff0000;
    color: #fff;
    cursor: pointer;
}